<nav class="bg-blue-400">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <a routerLink="/" class="text-white font-bold text-xl">
            <img class="w-1/4" src="assets/images/logo.png" alt="logo">
          </a>
        </div>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <!-- <a routerLink="/" class="text-gray-600 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-bold">الحاسبة اليومية</a> -->
            <a  class="text-white px-3 py-2 rounded-md text-sm font-medium cursor-pointer" onclick="window.location.href='tel:+1234567890'"> 
              <span class="text-er-gray-dark font-bold">
                للتواصل : ابراهيم ابوزياده
              </span>
              <span class="font-bold text-xl">
                ( 01001043029 )
              </span>
              
            </a>
          </div>
        </div>
        <div class="md:hidden">
          <button (click)="toggleMenu()" class="inline-flex items-center justify-center p-2 rounded-md text-white hover:text-white  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path [attr.d]="isMenuOpen ? 'M6 18L18 6M6 6l12 12' : 'M4 6h16M4 12h16M4 18h16'" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  
    <div [ngClass]="{'block': isMenuOpen, 'hidden': !isMenuOpen}" class="md:hidden">
      <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <!--<a routerLink="/" class="text-gray-600 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-bold">الحاسبة اليومية</a> -->
        <a  class="text-white px-3 py-2 rounded-md text-sm font-medium cursor-pointer" onclick="window.location.href='tel:+1234567890'"> 
              <span class="text-er-gray-dark font-bold">
                للتواصل : ابراهيم ابوزياده
              </span>
              <span class="font-bold text-xl">
                ( 01001043029 )
              </span>
      </div>
    </div>
  </nav>
