@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap");

@layer {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}
* {
  font-family: "Noto" !important;
  direction: rtl;
}

::ng-deep.co-p-inputnumber {
  width: 100%;
  &::placeholder {
    font-family: "Noto", sans-serif !important;
  }
}
