::ng-deep .full-width {
    width: 100% !important;
  }
  
  ::ng-deep .full-width .p-inputnumber {
    width: 100% !important;
    border-radius: 18px;
    padding: 7px 20px;
    border: 1px solid #ccc;
  }
  
  ::ng-deep .full-width .p-inputnumber-input {
    width: 100% !important;
    border-radius: 18px;
    padding: 7px 20px;
    border: 1px solid #ccc;
  }
